body {
    font-family: Verdana;
    background-image: url('');
    background-repeat: repeat;
    background-size: cover;
    background-position: center top;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

a:active {
  color: gold;
  font-weight: bold;
}
.button {
  background-color: #00eeff;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #00eeff;
}

#searchbar{ 
     margin-left: 50%; 
     padding:5px; 
     border-radius: 10px; 
   } 
 
input[type=text] { 
      width: 30%; 
      -webkit-transition: width 0.15s ease-in-out; 
      transition: width 0.15s ease-in-out; 
   } 
 
/* When the input field gets focus, 
        change its width to 100% */
   input[type=text]:focus { 
     width: 70%; 
   } 
 
#list{ 
    font-size:  1.5em; 
    margin-left: 90px; 
   } 
 
.animals{ 
   display: list-item;     
  }  
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2684FC;
  color: white;
}
