body {
    font-family: Verdana;
    background-image: url('nicebluebackground.jpg');
    background-size: cover;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

a:active {
  color: gold;
  font-weight: bold;
}
.button {
  background-color: #00eeff;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #00eeff;
}
